<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Clinic Aurora Profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="styles/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/css/main.css" rel="stylesheet">
    <link href="styles/css/bootstrap.css" rel="stylesheet">
    <link href="styles/css/normalize.min.css" rel="stylesheet">
    <link href="styles/css/normalize.css" rel="stylesheet">

    <link rel="icon" href="styles/images/pill.png" type="image/x-icon"/>
</head>

<body data-spy="scroll" data-target="#navbarResponsive">


<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="/"><img src="styles/images/pill.png" width="45" height="45">AURORA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/" >Log out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>

<div class="col-md-3">
    <div class="card mb-3">
        <h3 class="card-header">tu login</h3>
        <div class="row form-group"></div>
        <center><img style="height: 30%; width: 30%; display: block;" src="styles/images/profile.png" alt="profile"></center>
        <div class="row form-group"></div>
        <ul class="list-group list-group-flush">
            <span class="glyphicon glyphicon-grain"></span>
            <li class="list-group-item">tu imie</li>
            <li class="list-group-item">tu nazwisko</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-leaf"></span><span
                    class="glyphicon glyphicon-leaf"></span><span class="glyphicon glyphicon-leaf"></span></li>
        </ul>
        <div class="card-body">

        </div>
    </div>
</div>
<div class="col-md-9">
    <h3>Your appointments</h3>
    <div class="row form-group"></div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Tu habity</th>
            <th scope="col">Name</th>
            <th scope="col">Frequency</th>
<!--            <th scope="col">Specialist</th>-->
<!--            <th scope="col">Specialist's name</th>-->
<!--            <th scope="col">Specialist's surname</th>-->
<!--            <th scope="col">Institution</th>-->
<!--            <th scope="col">Time</th>-->
<!--            <th scope="col">Action</th>-->
        </tr>
        </thead>
        <tbody>

<!--        <tr th:each="v : ${visits}" class="table-info">-->
<!--            <td th:text="${v.getId()}"></td>-->
<!--            <td th:text="${v.getPatient().getName()}"></td>-->
<!--            <td th:text="${v.getPatient().getSurname()}"></td>-->
<!--            <td th:text="${v.getDoctor().getSpecialization()}"></td>-->
<!--            <td th:text="${v.getDoctor().getName()}"></td>-->
<!--            <td th:text="${v.getDoctor().getSurname()}"></td>-->
<!--            <td th:text="${v.getDoctor().getInstitution()}"></td>-->
<!--            <td th:text="${v.getVisitTime()}"></td>-->
<!--            <td>-->
<!--                <form th:action="@{/deleteVisit/{id}(id=${v.getId()})}">-->
<!--                    <button type="submit" class="btn btn-danger" onClick="return confirm('Are you sure?')">CANCEL-->
<!--                    </button>-->
<!--                </form>-->
<!--            </td>-->
<!--        </tr>-->

        </tbody>
    </table>
</div>

<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>

<footer class="contact">
    <div class="container-fluid">
        <address class="contact-info">HABITS BUILDER<br> 28 East Road <br> London, UK <br>
            <span class="glyphicon glyphicon-envelope"></span>
            habits_builder@medic.com.pl <br>
            <span class="glyphicon glyphicon-earphone"></span>
            (020) 2345 3345
        </address>
    </div>
</footer>

</body>
</html>