<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tr th:each="u : ${habit}">
    <td th:text="${u.getName()}"/>
    <td th:text="${u.getFrequency()}"/>
    <td th:text="${u.getDescription()}"/>
    <p>==========================</p>
</tr>
</body>
</html>