<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MHB - new habit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.min.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/pill.png}" type="image/x-icon"/>
</head>

<body data-spy="scroll" data-target="#navbarResponsive">


<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" th:href="@{/}"><img src="/images/pill.png" width="45" height="45">MHB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Log out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>

<div class="row justify-content-center" size="80">

    <form th:align="center" th:action="@{/addHabit}">
        <div class="container-fluid" align="center">
            <div class=raw>
                <fieldset>
                    <legend>Your new habit</legend>
                    <div class="form-group">

                        <div class="row form-group"></div>
                        <div class="row form-group"></div>
                        <h3>Set the content of your notifications: </h3>

                        <label class="col-form-label" for="inputDefault1">Notification</label>
                        <input th:name="content" required type="text" class="form-control"
                               placeholder="content" id="inputDefault1">
                        <div class="row form-group"></div>

                        <label for="exampleSelect1">MessagingMode</label>
                        <select th:name="messagingMode" class="form-control" id="exampleSelect1">
                            <option>MAIL</option>
                            <option>SMS</option>
                        </select>
                        <div class="row form-group"></div>

                        <label for="exampleSelect2">Frequency</label>
                        <select th:name="frequencyMode" class="form-control" id="exampleSelect2">
                            <option>HOURLY</option>
                            <option>DAILY</option>
                            <option>WEEKLY</option>
                            <option>MONTHLY</option>
                            <option>YEARLY</option>
                        </select>
                        <div class="row form-group"></div>
<!--                        <h3>Define frequency: </h3>-->

<!--                        <label class="col-form-label" for="minute">Minute</label>-->
<!--                        <input th:name="minute" size=80 type="number" min="0" step="1" max="59"-->
<!--                               class="form-control"-->
<!--                               placeholder="minute" id="minute">-->

<!--                        <label class="col-form-label" for="hour">Hour</label>-->
<!--                        <input th:name="hour" size=80 type="number" min="0" step="1" max="23"-->
<!--                               class="form-control"-->
<!--                               placeholder="hour" id="hour">-->

<!--                        <label class="col-form-label" for="day">Day</label>-->
<!--                        <input th:name="day" size=80 type="number" min="1" step="1" max="31"-->
<!--                               class="form-control"-->
<!--                               placeholder="day" id="day">-->

<!--                        <label class="col-form-label" for="month">Month</label>-->
<!--                        <input th:name="month"  size=80 type="number" min="1" step="1" max="12"-->
<!--                               class="form-control"-->
<!--                               placeholder="month" id="month">-->

<!--                        <label class="col-form-label" for="dayOfWeek">Day of week</label>-->
<!--                        <input th:name="dayOfWeek"  size=80 type="number" min="1" step="1" max="7"-->
<!--                               class="form-control"-->
<!--                               placeholder="day of week" id="dayOfWeek">-->

                    </div>

                    <div class="row form-group"></div>

                    <button type="submit" value="submit1" class="btn btn-outline-primary role=">Next</button>
                </fieldset>
            </div>
        </div>
    </form>
</div>
</div>

<div class="row form-group"></div>
<div class="row form-group"></div>

<div class="row form-group"></div>
<div class="row form-group"></div>

<footer class="contact">
    <div class="container-fluid">
        <address class="contact-info">HABITS BUILDER<br> 28 East Road <br> London, UK <br>
            <span class="glyphicon glyphicon-envelope"></span>
            habits_builder@medic.com.pl <br>
            <span class="glyphicon glyphicon-earphone"></span>
            (020) 2345 3345
        </address>
    </div>
</footer>

</body>
</html>