<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Medical Habits Builder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.min.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.css}" rel="stylesheet">
    <link rel="icon" th:href="@{images/pill.png}" type="image/x-icon"/>
</head>


<body data-spy="scroll" data-target="#navbarResponsive">

<!--- Start Home Section-->
<div id="home">
    <!--- Start Nav-->
    <nav class="navbar navbar-expand-md  navbar-dark bg-primary fixed-top">
        <a class="navbar-brand" th:href="@{/}"><img src="images/pill.png" width="45" height="45">MHB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#login">Registration</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--- End Nav-->

    <!--- Start Landing Page Section -->
    <style>
        div.background {
            background: url('/images/mainphoto.jpg') no-repeat fixed;
            background-size: cover;
        ">
        }
    </style>

    <div class="background">
        <div class="caption text-center">
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <a class="btn btn-outline-primary btn-lg" th:href="@{/signIn}">Sign in</a>

            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>
            <div class="row form-group"></div>

        </div>
    </div>
</div>
</div>
<!--- End Landing Page Section -->
<!--- End Home Section-->

<!--- Start Login&Reg Section-->
<div id="login" class="offset">
    <div class="jumbotron">
        <div class="container">
            <h2>Medical Habits Builder</h2>
            <p>This app will help you develop your medical habits!<br> Don't
                have an account yet?</p><br>
            <p><a class="btn btn-outline-primary" th:href="@{/reg}" role="button">Register now
                &raquo;</a></p>
        </div>
    </div>
</div>
<!--- End Login&Reg Section-->

<!--- Start Doctors Section-->
<div id="doctors" class="offset">

</div>
<!--- End Doctors Section-->

<div class="row form-group"></div>
<div class="row form-group"></div>

<footer class="contact">
    <div class="container-fluid">
        <address class="contact-info">HABITS BUILDER<br> 28 East Road <br> London, UK <br>
            <span class="glyphicon glyphicon-envelope"></span>
            habits_builder@medic.com.pl <br>
            <span class="glyphicon glyphicon-earphone"></span>
            (020) 2345 3345
        </address>
    </div>
</footer>

</body>
</html>

