<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MHB Profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.min.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/pill.png}" type="image/x-icon"/>
</head>

<body data-spy="scroll" data-target="#navbarResponsive">


<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" th:href="@{/}"><img src="/images/pill.png" width="45" height="45">MHB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Log out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>

<div class="col-md-3">
    <div class="card mb-3">
        <h3 class="card-header" th:text="${userName}"></h3>
        <div class="row form-group"></div>
        <center><img style="height: 30%; width: 30%; display: block;" src="/images/profile.png" alt="profile"></center>
        <div class="row form-group"></div>
        <div class="card-body">
            <a th:href="@{/formStart}" class="card-link text-muted">ADD NEW HABIT</a>
        </div>
        <ul class="list-group list-group-flush">
            <span class="glyphicon glyphicon-grain"></span>
            <li class="list-group-item">Name: [[${firstName}]]</li>
            <li class="list-group-item">Surname: [[${lastName}]]</li>
            <li class="list-group-item">E-mail: [[${email}]]</li>
            <li class="list-group-item">Gender: [[${gender}]]</li>
            <li class="list-group-item">Birthday: [[${birthday}]]</li>
            <li class="list-group-item">Phone number: [[${phoneNumber}]]</li>
            <li class="list-group-item">Height: [[${height}]] cm</li>
            <li class="list-group-item">Weight: [[${weight}]] kg</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-leaf"></span><span
                    class="glyphicon glyphicon-leaf"></span><span class="glyphicon glyphicon-leaf"></span></li>
        </ul>

    </div>
</div>
<div class="col-md-9">
    <h3>Your saved habits</h3>
    <div class="row form-group"></div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Content</th>
            <th scope="col">Messaging mode</th>
            <th scope="col">Frequency</th>
            <th scope="col">Hour</th>
            <th scope="col">Minute</th>
            <th scope="col">Day of week</th>
            <th scope="col">Day of month</th>
            <th scope="col">Month</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="h : ${habitList}" class="table-info">
            <td th:text="${h.getTopic()}"></td>
            <td th:text="${h.getContent()}"></td>
            <td th:text="${h.getMessagingMode()}"></td>
            <td th:text="${h.getFrequencyMode()}"></td>
            <td th:text="${h.getHour()}"></td>
            <td th:text="${h.getMinute()}"></td>
            <td th:text="${h.getDayOfWeek()}"></td>
            <td th:text="${h.getDay()}"></td>
            <td th:text="${h.getMonth()}"></td>

            <td>
                <form th:action="@{/deleteHabit/{id}(id=${h.getId()})}">
                    <button type="submit" class="btn btn-danger" onClick="return confirm('Are you sure?')">CANCEL
                    </button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
</div>

<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>

<footer class="contact">
    <div class="container-fluid">
        <address class="contact-info">HABITS BUILDER<br> 28 East Road <br> London, UK <br>
            <span class="glyphicon glyphicon-envelope"></span>
            habits_builder@medic.com.pl <br>
            <span class="glyphicon glyphicon-earphone"></span>
            (020) 2345 3345
        </address>
    </div>
</footer>

</body>
</html>