<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Medical Habits Builder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.min.css}" rel="stylesheet">
    <link th:href="@{/css/normalize.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/pill.png}" type="image/x-icon"/>
</head>

<body data-spy="scroll" data-target="#navbarResponsive">


<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" th:href="@{/}"><img src="/images/pill.png" width="45" height="45">MHB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
        </ul>
    </div>
</nav>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="row form-group"></div>

<div class="row justify-content-center">
    <form th:align="center" th:action="@{/checking}" th:object="${newPatient}" th:method="post">
        <div class="container-fluid" align="center">
            <div class=raw>
                <fieldset>
                    <legend>Registration</legend>
                    <div class="form-group">

                    <label class="col-form-label" for="inputDefault1">username</label>
                    <input type="text" size=80 name="username" class="form-control"
                           placeholder="Enter username" id="inputDefault1" th:field="*{username}">
                    <div class="row form-group"></div>

                    <label class="col-form-label" for="inputDefault2">name</label>
                    <input type="text" name="name" class="form-control"
                           placeholder="Enter name" id="inputDefault2" th:field="*{firstName}">
                    <div class="row form-group"></div>


                    <label class="col-form-label" for="inputDefault8">surname</label>
                    <input type="text" name="surname" class="form-control"
                           placeholder="Enter surname" id="inputDefault8" th:field="*{lastName}">
                    <div class="row form-group"></div>

                    <label class="col-form-label" for="inputDefault3">e-mail</label>
                    <input type="email" name="e-mail" class="form-control"
                           placeholder="Enter e-mail" id="inputDefault3" th:field="*{email}">
                    <div class="row form-group"></div>

                    <label class="col-form-label" for="inputDefault7">phone number</label>
                    <input type="text" name="phone number" class="form-control"
                           placeholder="Enter phone number" id="inputDefault7" th:field="*{phoneNumber}" >
                    <div class="row form-group"></div>

                    <label class="col-form-label" for="inputDefault5">password</label>
                    <input type="password"  name="password" class="form-control"
                           placeholder="Enter password" id="inputDefault5" th:field="*{password}">
                    <div class="row form-group"></div>
                </div>

                    <div class="row form-group"></div>

                    <button type="submit" value="add new user" class="btn btn-outline-primary role=">Submit</button>
                </fieldset>
            </div>
        </div>
    </form>
</div>
</div>
<div class="row form-group"></div>
<div class="row form-group"></div>
<div class="container">
    <p><a th:href="@{/}">
        <button class="btn btn-info">Back</button>
    </a></p>
</div>
<div class="row form-group"></div>
<div class="row form-group"></div>

<footer class="contact">
    <div class="container-fluid">
        <address class="contact-info">HABITS BUILDER<br> 28 East Road <br> London, UK <br>
            <span class="glyphicon glyphicon-envelope"></span>
            habits_builder@medic.com.pl <br>
            <span class="glyphicon glyphicon-earphone"></span>
            (020) 2345 3345
        </address>
    </div>
</footer>

</body>
</html>